@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

main {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  position: relative;
  overflow: hidden;
}

main .open-menu {
  height: 263px;
  padding: 1rem;
  padding-right: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  margin-left: 23.5rem;
  width: 400px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 1;
}

main .open-menu .menu-nav {
  margin-top: 2.7rem;
}

main .open-menu .menu-nav li {
  padding-left: 1rem;
  white-space: nowrap;
  line-height: 48px;
  list-style: none;
  font-size: 2rem;
  background-color: #2f2f2f;
  color: white;
  margin-bottom: 2px;
  height: 3rem;
  font-family: 'Cairo', sans-serif;
  width: 100%;
  margin-left: 2rem;
}

main .intro {
  height: 263px;
  padding: 1rem;
  padding-bottom: .7rem;
  display: -ms-grid;
  display: grid;
  position: relative;
}

main .intro h1 {
  font-family: 'Roboto';
  margin-top: 55px;
  margin-left: 15px;
  font-size: 2.7rem;
  color: #2f2f2f;
}

main .intro .text-bg-effect {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #F0EFEF;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  z-index: -1;
}

main .intro p {
  text-align: center;
  margin: 1.2rem .8rem .4rem .8rem;
  font-size: 1.7rem;
  font-family: 'Cairo', sans-serif;
  color: #515050;
}

main .menu {
  position: absolute;
  top: 25px;
  right: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
}

main .hero-img {
  width: 100%;
}

.animate-menu {
  -webkit-transform: scaleX(-1) translateX(285px);
          transform: scaleX(-1) translateX(285px);
}

.animate-li {
  -webkit-transform: translateX(-375px);
          transform: translateX(-375px);
}

.sub-intro {
  height: 263px;
}
